<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Posts</title>
  </head>
  <style>
    td {
      border: 1px solid rgb(104, 99, 99);
      padding: 4px;
    }
  </style>
  <body>
    <p>
      <b
        >List of post titles from
        'https://jsonplaceholder.typicode.com/posts'</b
      >
    </p>
    <table>
      {{#each posts}}
      <tr>
        <td>{{this.title}}</td>
      </tr>
      {{/each}}
    </table>
    {{#each pagination}}
    <a href="?page={{this.page}}">{{this.page}}</a>
    {{/each}}
  </body>
  <script type="text/javascript"></script>
</html>
